
<div class="center jumbotron">
<div class="container">
 <div class="centerfy">
<h1 class="mt-3">Welcome to Best Practices!</h1>
<p class="lead">A Ruby On Rails Template with preinstalled often needed features ready to build<br />
With Administrate Dashboard and many other goodies by Paul Anthony McGowan </p>
 </div>
</div>
</div>





